 .title, .e {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    line-height: 29px;
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    line-height: 29px;
    font-size: 18px;
    padding: 30px;}

.b {
    color: rgb(71, 68, 250);
    font-size: 18px;
}

section{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    line-height: 29px;
    padding: 30px;

}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    line-height: 29px;
    text-shadow: 2px 5px 5px #dbdbdb;
}

.Opcao{
    color: rgb(0, 80, 252);font-size: 18px; 
    text-decoration: none;
    
}

.e {
    color: rgb(255, 0, 0);
    margin-left: 12%;
    margin-top: 1%;
}

.f{
    color: rgb(255, 0, 0);
    margin-left: 12%;
    margin-top: 1%;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 15px;
    cursor: pointer;
}

#menu ul{
    background-color: rgb(124, 229, 255);
    font-size: 18px;
    margin-top: 2px;
    
}

#menu ul li{
    display: inline;
}

#menu ul li a{
    color: black;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    transition: background .4s;
    width: 150px;
    text-align: center;
}

#menu ul li a:hover{
    background-color: rgb(0, 180, 141);
    color: #ffffff;
}

.logo{
    padding: auto;
    background-color: rgb(43, 86, 226);
}

.painel{
    width: auto;
    height: 130px;
    background-image:url(https://files.nsctotal.com.br/s3fs-public/styles/paragraph_image_style/public/graphql-upload-files/matematica_0.jpg?lvC2HPWNgBxbzWH1pyS7afOuf_4NMBMC&itok=wZFQNzos)
}

.centralizar{
    margin: auto;
    width: 60%;
    height: auto;
    text-align: left;
    background-color: #ffffff;
}

.imagem_2{
    width: 300px;
    height: 300px;
    background-image: url("WhatsApp Image 2022-08-02 at 09.02.42.jpeg");
    border-radius: 100%;
    border-width: 7px;
  	border-style:dashed;
    margin-left: 5%;
    margin-top: auto;
    align-self: center;
    align-items: center;
}

@media screen and (max-width: 1440px){
    .centralizar{
        margin: auto;
        width: 70%;
        height: auto;
        text-align: left;
        background-color: #ffffff;
    }
}

@media screen and (max-width: 1024px) {
    .centralizar{
        margin: auto;
        width: 100%;
        height: auto;
        text-align: left;
        background-color: #ffffff;
    }
}

@media screen and (max-width: 375px) {
    .centralizar{
        margin: auto;
        width: 10%;
        height: auto;
        text-align: left;
        background-color: #ffffff;
    }
}

.lista{
    color: rgb(255, 0, 0);
}

.lista_1{
    color: rgb(0, 26, 255);
}

#linha{
   height: 1px;
   width: 85%;
   margin: auto;
   background-color: rgb(73, 73, 73); 
}

#edital{
    color: rgb(0, 26, 255);font-size: 16px; 
    text-decoration: none;
}